<%= render :partial => "layouts/carousel" %>
<div class="container">
	<div class="main-block">
			<div class="container">
			<div class="img-box-4 text-center">
					<div class="row">
						<div class="col-md-4 col-sm-6">

							<!-- Image Box #4 Item -->
							<div class="img-box-4-item">
								<!-- Image -->
								<img src="/assets/summers/grape_tomatoes.jpg" alt="" class="img-responsive" style="width: 300px;" />
								<!-- Image Box #4 Content -->
								<div class="img-box-4-content">
									<!-- Icon -->
									<a href="<%= food_donations_path %>"><i class=""></i></a>
									<!-- Heading -->
									<h4><a href="<%= food_donations_path %>">DONATE</a></h4>
									<!-- Border -->
									<div class="bor bg-red"></div>
									<!-- Paragraph -->
									<p>Uneaten, packaged food donations of any size can help feed families in NYC. Find one of many drop-off locations near you.</p>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="img-box-4-item">
								<img src="/assets/summers/compost.jpg" alt="" class="img-responsive" style="width: 300px;" />
								<div class="img-box-4-content">
									<a href="<%= compost_sites_path %>"><i class=""></i></a>
									<h4><a href="<%= compost_sites_path %>">COMPOST</a></h4>
									<div class="bor bg-lblue"></div>
									<p>Expired and inedible foods aren't trash - they're awesome for the environment! Learn more about compost centers.</p>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="img-box-4-item">
								<img src="/assets/summers/salad.jpg" alt="" class="img-responsive" style="width: 300px;" />
								<div class="img-box-4-content">
									<a href="<%= recipes_path %>"><i class=""></i></a>
									<h4><a href="<%= recipes_path %>">DISCOVER RECIPES</a></h4>
									<div class="bor bg-purple"></div>
									<p>Don't know what to cook with that durian? Well don't throw it out! Find recipes and inspiration to match the ingredients you have. </p>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="img-box-4-item">
								<a href="/communities"><img src="/assets/summers/people_shopping.jpg" alt="" class="img-responsive" /></a>
								<div class="img-box-4-content">
									<a href="#"><i class=""></i></a>
									<h4><a href="/communities">COMMUNITY</a></h4>
									<div class="bor bg-green"></div>
									<p>Give-A-Fig's best feature is its Community. Partake in food sharing groups with people in your network and explore other groups to join.</p>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="img-box-4-item">
								<a href="">
									<img src="/assets/summers/soup.jpg" alt="" class="img-responsive" /></a>
								<div class="img-box-4-content">
									<a href="#"><i class=""></i></a>
									<h4><a href="#">HOST DINNER</a></h4>
									<div class="bor bg-orange"></div>
									<p>The next best thing to good food is good company! We'll help you set up and host a dinner in your community.</p>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="img-box-4-item">
								<a href="/learn_more">
									<img src="/assets/summers/sunflowers.jpg" alt="" class="img-responsive" /></a>
								<div class="img-box-4-content">
									<a href="#"><i class=""></i></a>
									<h4><a href="/learn_more">LEARN MORE</a></h4>
									<div class="bor bg-black"></div>
									<p>Learn more about your food!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<span class="totop"><a href="#"><i class="fa fa-angle-up bg-color"></i></a></span>
</div>
