<%= render :partial => "layouts/carousel" %>
<div class="container">
	<div class="main-block">
			<div class="container">
			<div class="img-box-4 text-center">
					<div class="row">
						<div class="col-md-4 col-sm-6">

							<!-- Image Box #4 Item -->
							<div class="img-box-4-item">
								<!-- Image -->
								<img src="/assets/summers/grape_tomatoes.jpg" alt="" class="img-responsive" style="width: 300px;" />
								<!-- Image Box #4 Content -->
								<div class="img-box-4-content">
									<!-- Icon -->
									<a href="<%= food_donations_path %>"><i class=""></i></a>
									<!-- Heading -->
									<h4><a href="<%= food_donations_path %>">DONATE</a></h4>
									<!-- Border -->
									<div class="bor bg-red"></div>
									<!-- Paragraph -->
									<p>Uneaten, packaged food donations of any size help feed families in NYC. Find a drop-off location near you.</p>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="img-box-4-item">
								<img src="/assets/summers/pearl_onions.jpg" alt="" class="img-responsive" style="width: 300px;" />
								<div class="img-box-4-content">
									<a href="<%= compost_sites_path %>"><i class=""></i></a>
									<h4><a href="<%= compost_sites_path %>">COMPOST</a></h4>
									<div class="bor bg-lblue"></div>
									<p>Expired and inedible foods don't need to go to waste. Learn more about compost centers and why they are awesome.</p>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="img-box-4-item">
								<img src="/assets/summers/salad.jpg" alt="" class="img-responsive" style="width: 300px;" />
								<div class="img-box-4-content">
									<a href="<%= recipes_path %>"><i class=""></i></a>
									<h4><a href="<%= recipes_path %>">FIND RECIPES</a></h4>
									<div class="bor bg-purple"></div>
									<p>Expired and inedible foods don't need to go to waste. Learn more about compost centers and why they are awesome.</p>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="img-box-4-item">
								<img src="/assets/gallery/small/ingredients.jpg" alt="" class="img-responsive" />
								<div class="img-box-4-content">
									<a href="#"><i class=""></i></a>
									<h4><a href="#">COMMUNITY</a></h4>
									<div class="bor bg-green"></div>
									<p>Expired and inedible foods don't need to go to waste. Learn more about compost centers and why they are awesome.</p>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="img-box-4-item">
									<img src="/assets/gallery/small/dinner.jpg" alt="" class="img-responsive" />
								<div class="img-box-4-content">
									<a href="#"><i class=""></i></a>
									<h4><a href="#">HOST DINNER</a></h4>
									<div class="bor bg-orange"></div>
									<p>Expired and inedible foods don't need to go to waste. Learn more about compost centers and why they are awesome.</p>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="img-box-4-item">
									<img src="/assets/gallery/small/3.jpg" alt="" class="img-responsive" />
								<div class="img-box-4-content">
									<a href="#"><i class=""></i></a>
									<h4><a href="/learn_more">LEARN MORE</a></h4>
									<div class="bor bg-black"></div>
									<p>Certain circumstances and owing libero tempore minus to the owing claims of duty.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<span class="totop"><a href="#"><i class="fa fa-angle-up bg-color"></i></a></span>

	<%= render :partial => "layouts/footer" %>
</div>