<div class="page-heading-two">
    <div class="container">
 <h2>Don't throw away that food item you don't know how to cook with! Use are recipe generator to find great recipes with that item. Simply type in the ingredients you have in you house that you want to cook with and we will give you some recipe ideas.</h2>
 </div>
 </div>

  <div class="block-heading-two">
  <div class="container">
    <h3><span>Find a Recipe For Ingredients You Already Have</span></h3>
    </div>
  </div>

  <br><%= render 'form' %><br>
  <br>
  <br>

<div class="container">
  <% if @recipe_info == [] %>
    <hr>
    <h4>Sorry, your list of ingredients did not turn up with any recipes! Please try again with other ingredients.</h4>
  <% elsif @recipe_info != nil %>
    <div id="container">
    <div class="row">
      <% @recipe_info.each do |recipe_hash| %>
        <div class="col-md-4 col-sm-6">
          <div class="block-heading-two recipe-title">
            <h4><span class="color"><%= truncate(recipe_hash[:name], length: 40) %></span></h4>
          </div>

          <div class = "get-recipe">
            <%= link_to "Get Recipe", recipe_hash[:link], :target => "_blank" %>
          </div>

          <div class = "recipe-image">
            <%= image_tag "#{recipe_hash[:image]}", class: "img-responsive img-thumbnail", style: "width: 300px; height: 300px;" %>
          </div>

          <div class="item-ingred">
            <h4>Ingredient List: </h4>
            <ul class="scroll">
            <% recipe_hash[:ingredient].each do |ing| %>
              <li><%= ing %></li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>
   <% end %>
  </div>
  </div>
</div>

</div>