<div class="container">
 <h3>Don't throw away that food item you don't know how to cook with!</h3>
 <p><h4>Use our recipe generator to find great recipes for it. Simply enter the ingredients you want to cook with and we'll give you some recipe ideas.</h4></p>

  <div class="block-heading-two">
    <h3><span class="green-line">Find a Recipe</span></h3>
  </div>

  <br><%= render 'form' %><br>

  <button type="button" id="add-more">Add another ingredient!</button>
  <br>
  <br>

  <% if @recipe_info == [] %>
    <hr>
    <h4>Sorry, your list of ingredients did not turn up with any recipes! Please try again with other ingredients.</h4>
  <% elsif @recipe_info != nil %>
    <div id="container">
    <div class="row">
      <% @recipe_info.each do |recipe_hash| %>
        <div class="col-md-4 col-sm-6">
          <div class="block-heading-two recipe-title">
            <h4><span class="color"><%= truncate(recipe_hash[:name], length: 40) %></span></h4>
          </div>

          <div class = "get-recipe">
            <%= link_to "Get Recipe", recipe_hash[:link], :target => "_blank" %>
          </div>

          <div class = "recipe-image">
            <%= image_tag "#{recipe_hash[:image]}", class: "img-responsive img-thumbnail", style: "width: 300px; height: 300px;" %>
          </div>

          <div class="item-ingred">
            <h4>Ingredient List: </h4>
            <ul class="scroll">
            <% recipe_hash[:ingredient].each do |ing| %>
              <li><%= ing %></li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>
   <% end %>
  </div>
  </div>
</div>
