<h1>Compost Sites</h1>

<div>
<div id="map-canvas"></div>
<%= form_tag do %>
<div>
<%= label_tag "zip_code", "Not the Area You Want?" %>
<%= text_field_tag "zip_code", nil, placeholder: "Enter your zip code"%>
</div>
<%= submit_tag "Search", class: 'zip_search' %>
<% end %>
</div>

<div>
<ul class = "site">
  <% @compostsites.each do |compost| %>
    <li class = "<%= /\b\d{5}\b/.match(compost.address)[0] %>"><%= compost.name %></li>
  <% end %>
</ul>
</div>
