<div class="container">
<h1> Welcome <%= @user.first_name %> </h1>
</div>
<h3 id="title"><%= @user.first_name %>'s Communities:</h3>
<div id="container">
<ul class="row" id="row-style">
  <% @user.my_communities.each do |community| %>
      <li class="col-md-4 col-sm-6"><span class="box-style scroll">
        <h3 id="title">
          <%= link_to community.name, community %>
          <% if @user.id == community.admin_id %>
            | Admin
          <% else %>
            | Member
          <% end %>
        </h3>
        <ul id="memberFoods" class="row" style="list-style:none;">
          <li class="col-md-6">
            <h5>Your listed foods:</h5>
            <ul class="ul-style">
              <% @user.posted_food.each do |food| %>
                <% if food.community_id == community.id %>
                  <li><%= food.name %></li>
                  <% end %>
              <% end %>
            </ul>
          </li>
        
          <li class="col-md-6">
            <h5>Your claimed foods:</h5>
            <ul class="ul-style">
              <% @user.claimed_food.each do |food| %>
                <% if food.community_id == community.id  %>
                  <li><%= food.name %> from <%= food.community.name %></li>
                <% end %>
              <% end %>
            </ul>
          </li>
        </ul><!-- memebersFood -->
        </span>
      </li>
  <% end %>
</ul>
</div><!--container -->
