<h1>Food Pantry Donation Sites</h1>

<div id = "FoodDonation" class = "page">
<div id="map-canvas"></div>
<%= form_tag do %>
<div>
<%= label_tag "zip_code", "Not the Area You Want?" %>
<%= text_field_tag "zip_code", nil, placeholder: "Enter your zip code"%>
</div>
<%= submit_tag "Search", class: 'zip_search' %>
<% end %>
</div>

<div>
<ul class = "site">
  <% @donationsites.each do |donation| %>
    <li class = "<%= /\b\d{5}\b/.match(donation.address)[0] %>"><%= donation.name %></li>
  <% end %>
</ul>
</div>