<div class="container">

  <h2>Community: <%= @community.name %></h2>
  <h5>Pickup site: <%= @community.pickup_site %></h5>
  <h5>Tag(s): <%= @community.tag %></h5>

  <% if user_signed_in? %>
  <h3>All of your communities:</h3>
  <ul>
    <% current_user.communities.each do |community| %>
      <li><%= link_to community.name, community_path(community) %></li>
    <% end %>
  </ul>
  <% end %>



<% if current_user %>
  <% if member?(@community, current_user) %>
   <h1>Leave</h1>
  <% else  %>
    <h1>Join</h1>

    <%= form_for @community, remote: true do |f|  %>
    <%= f.submit "Join", id: "join-button"  %>
    <% end %>



  <% end %>
<% else %>
  <h1>Sign IN</h1>
<% end %>


</div>   

