
<!-- page top -->
  <div class="outer">
    <div class="main-block">
      <div class="page-heading-one">
        <h1><%= @community.name %> Community</h1>
        <p>Community Location: <%= @community.pickup_site %></p>
        <p>Description of Community: <%= @community.tag %></p>
      </div>
    </div>


<!-- Button to Request Invite Or Leave -->
<% if user_signed_in? && !@community.is_admin?(current_user) %>
  <div class="row"> 
    <div class="col-md-7 col-sm-6">
      <% if current_user %>
        <% if member?(@community, current_user) %>
          <%= form_for @community, action: :update, method: :put do |f| %>
            <%= f.submit "Leave Community", id: "leave-button", class: "btn btn-primary", style: "margin-top:20px; font-size:2rem;"  %>
          <% end %>
        <% else  %>
          <form action="<%= @community.id%>/ask_admin" method="post" data-remote="true" style="width:200px;   margin-left: 65%;">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input class="reset btn btn-red" id = "join-button" type="submit" value="Request An Invitation to This Community"/>
          </form>
        <% end %>
      <% else %>
        <h1>Sign In</h1>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
</div>
<!-- Button to Request Invite Or Leave -->
<!-- end page top -->

<!-- page starter -->

<div class="row"> 

<div class="col-md-7 col-sm-8">
<% if @community.users.include?(current_user) %>
  <div class="block-heading-two">
    <h3><span style= "border-color: #51d466;">Posted Food Items</span></h3>
  </div>
  <% User.all.each do |user| %>
    <% if !user.posted_food.where("community_id = ?", @community.id).empty? %>
      <% if user == @user %>
        <div class="mine">
        <ul><h4>My Posted Foods</h4>
      <% else %>
        <div class="theirs">
        <ul><h4>Posted by: <%= user.first_name %></h4>
      <% end %>
        <% user.posted_food.each do |food| %>
          <% if food.community_id == @community.id %>
            <div class = "entire_food_item" id = "<%= food.id %>">
              <h3>Food Item: <%= food.name %></h3>
                <% if food.claimer_id == nil %>
                  <% if user != @user %>
                    <%= form_for food, remote:true do |f|  %>
                    <%= f.submit "Claim Me!", id: "claim-button"  %>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if user == @user %>
                    <%= form_for food, method: :delete, remote:true do |f|  %>
                    <%= f.submit "Swap Completed!", id: "destroy-button"  %>
                    <% end %>
                  <% end %>
                 <p><strong>Status: claimed by <%= food.claimer.first_name %></strong></p>
                <% end %>
              </li>
              <h5>More Information:</h5>
              <ul>
                <li>Quantity: <%= food.quantity %></li>
                <li>Description: <%= food.description %></li>
              </ul>
              <hr>
            </div>
          <% end %>
        <% end %>
        </ul>
        </div>
    <% end %>
  <% end %>
</div>

  <!-- form to create a food item -->
  <% if user_signed_in? %>
  <div class="col-md-5 col-sm-6">
    <div class="block-heading-two">
      <% if @community.is_user_or_admin?(current_user) %>
          <h3><span style= "border-color: #51d466;">Post a New Food Item</span></h3>
     </div>   
        <%= form_for FoodItem.new do |f| %>
        <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <%= f.label :name, style: "display: inline-block;" %>
          <%= f.text_field :name, id: "inputOne", class: "form-control", placeholder: "Name"%>
        </div>
        </div>
        <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <%= f.label :quanity %>
          <%= f.number_field :quantity, class: "form-control", placeholder: "Quantity" %>
        </div>
        </div>
        <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_field :description, class: "form-control", placeholder: "Description" %>
        </div>
        </div>
          <%= f.hidden_field :poster_id, value: current_user.id %>
          <%= f.hidden_field :community_id, value: @community.id %>
        <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <%= f.button "Post Food Item", class: "btn btn-color", style: "margin-top: 39%; margin-left: -35%;" %>
        </div>
        </div>
        <% end %>
      </div>   
    <% end %>
  <% end %>
<% end %>
</div>
</div>

<!-- Admin Section -->

<div class="panel-group" id="accordion-alt2" style="margin-left: 20%; margin-right: 20%;">
  <% if @community.is_admin?(current_user) %>
    <center>
      <div class="divider-6"></div>
        <h1>ADMIN SECTION</h1>

<!-- Send An Invite Email Section -->
      <div class="panel panel-red">
      <div class="panel-heading">
        <h4 class="panel-title">Invite Your Community to This Group</h4>
        <a data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseOne-alt2" aria-expanded="true" class="">
                       Collapsible Group Item #1</a>
      </div>
      <div id="collapseOne-alt2" class="panel-collapse collapse in" aria-expanded="true">         
         <div class="panel-body">            
           <form action="<%= @community.id%>/invite" method="post" data-remote="true" style="width:200px;">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input id="email-input" class="form-control" type="text" name="user[email]" placeholder="Email Address"/><br>
              <input class="reset btn btn-red" type="submit" value="Send Invitations"/>
            </form>
            <div id="messagesent" style="display: none;">
              <h3>YOUR EMAIL SENT SUCCESSFULLY</h3>
            </div>
        </div>
      </div>


<!-- requesters accept or reject section -->
     <div class="panel panel-lblue">
       <div class="panel-heading">
          <h4 class="panel-title">Poeple Who Have Requested to Join Your Community</h4>
          <a data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseTwo-alt2" class="" aria-expanded="true">
                       Collapsible Group Item #2</a>
       </div>

     <div id="collapseTwo-alt2" class="panel-collapse collapse in" aria-expanded="true">
        <div class="panel-body">        
         <% @community.requesters.each do |requester| %>
           <div style="display: inline-block;">
             <ul>
               <li><%= requester.email %></li>
             </ul>
           </div>

          <!-- accepted email form -->
          <div style="display: inline-block;">
            <form action="<%= @community.id%>/accept" method="post" data-remote="true" style="width:200px;">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden"  name="email"  value="<%= requester.email %>">
              <input class="reset btn btn-red" style="margin-left: 45%;" type="submit" value="Accept"/>
            </form>
          </div>

          <!-- rejected email form -->
          <div >
            <form action="<%= @community.id%>/reject" method="post" data-remote="true" style="width:200px;">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden"  name="email"  value="<%= requester.email %>">
              <input class="reset btn btn-red", style="  margin-top: -30%;
  margin-left: 50%" type="submit" value="Reject"/>
            </form>
          </div>
        <% end %><!-- ends requester section -->
       </div>
      </div>  
  </center>    
  <% end %><!-- ends full admin section -->
  </div>
</div>
</div>
</div>
