<div class="container">
  <h1>Community: <%= @community.name %></h1>
  <h5>Pickup site: <%= @community.pickup_site %></h5>
  <h5>Tag(s): <%= @community.tag %></h5>

  <% if user_signed_in? %>
  <h3>All of your communities:</h3>
  <ul>
    <% current_user.communities.each do |community| %>
      <li><%= link_to community.name, community_path(community) %></li>
    <% end %>
  </ul>
  <% end %>

<% if current_user %>
  <% if member?(@community, current_user) %>
   <!-- <h1>Leave</h1> -->
   <%= form_for @community, remote: true do |f|  %>
    <%= f.submit "Leave", id: "join-button"  %>
    <% end %>
  <% else  %>
    <!-- <h1>Join</h1> -->
    <%= form_for @community, remote: true do |f|  %>
    <%= f.submit "Join", id: "join-button"  %>
    <% end %>
  <% end %>
<% else %>
  <h1>Sign IN</h1>
<% end %>

<ul>
  <% FoodItem.all.each do |food| %>
    <% if food.community_id == @community.id %>
      <h3>Food Item posted by <%#= @user.name %></h3>
      <li><%= food.name %></li><ul>

        <% if food.quanity != nil %>
          <li>Quanity of Item: <%= food.quanity %></li>
        <% end %>
    <% if food.description != nil %>
      <li>Description of Item: <%= food.description %></li>
    <% end %>
  </ul>
  <% end %>
  <% end %>
</ul>

<% if @community.is_user_or_admin?(current_user) %>
  <h3>Post a New Food Item</h3>
  <%= form_for FoodItem.new do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :quanity %>
  <%= f.number_field :quantity %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.hidden_field :poster_id, value: @user.id %>
  <%= f.hidden_field :community_id, value: @community.id %>
  <%= f.submit %>
  <% end %>
<center>
<h1>Invite Your Community to This Group</h1>
<hr>
 <form action="<%= @community.id%>/invite" method="post" data-remote="true" style="width:200px;">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input id="email-input" class="form-control" type="text" name="user[email]" placeholder="Email Address"/><br>
    <input class="reset btn btn-red" type="submit" value="Send Invitations"/>
  </form>
  <div id="messagesent" style="display: none;">
    <h1>YOU SENT AN EMAIL</h1>
  </div>
</center>
<% else %>
  <p>You must be a member of this community to see its posts.</p>
<% end %>

</div>
<%= render :partial => "layouts/footer" %>
