 <!-- Header Starts -->
  <div class="header-2">
    <!-- Container -->
    <div class="container">
      <div class="row">

        <!-- Logo Section -->

        <!-- Navigation Starts -->
        <div class="col-md-9">
          <div class="navy">
            <ul>
              <!-- Main menu -->
              <li><a href="/communities">Community</a>
                <!-- Submenu -->
                <ul class="submenu">
                  <% if current_user %>
                    <li><%= link_to "Start a new community", new_community_path %></a></li>
                  <% else %>
                    <li><%= link_to "Start a new community", new_user_session_path %></a></li>
                  <% end %>
                    <li><%= link_to"View all communities", communities_path %></li>
                </ul>
              </li>

              <li><a href="/compost_sites">Compost Sites</a>
                <!-- Submenu -->
                <ul class="submenu">
                  <!-- 2nd Level sub menu -->
                  <li>
                    <a href="/compost_sites">Find a site near you</a>
                  </li>
                </ul>
              </li>

              <li><a href="/food_donations">Food Donations</a>
                <!-- Submenu -->
                <ul class="submenu">
                  <!-- 2nd Level sub menu -->
                  <li>
                    <a href="/food_donations">Find a site near you</a>
                  </li>
                </ul>
              </li>

              <li><a href="/recipes">Recipes</a>
                <!-- Submenu -->
                <ul class="submenu">
                  <!-- 2nd Level sub menu -->
                  <li>
                    <a href="/recipes">For what you have</a>
                  </li>
                </ul>
              </li>

              <li><a href="/learn_more">Learn More</a>
              </li>


          <% if user_signed_in? %>
            <li><a href="/users/profile">Welcome, <%= current_user.first_name %></a>
              <!-- Submenu -->
              <ul class="submenu">
                <!-- 2nd Level sub menu -->
                <li>
                  <a href="/users/profile">View Profile</a>
                </li>
                <li>
                  <%= link_to "Settings", edit_user_registration_path %>
                </li>
              </ul>
              <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
            </li>
          <% else %>
            <li><%= link_to "Log In", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>

    <!-- Navigation ends -->

    <!-- Search section -->
    <div class="col-md-1">
      <div class="head-search pull-right">
        <a href="#" class="b-dropdown"><i class="fa fa-search square-1 rounded-1 bg-color white"></i></a>
        <div class="b-dropdown-block">
          <form role="form">
            <!-- Input Group -->
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Type Something">
              <span class="input-group-btn">
                <button class="btn btn-color" type="button">Search</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
        <!-- Search section ends -->
      <div class="clearfix"></div>
     </div>
  </div>
</div>
<!-- Navbar ends —>
