<!DOCTYPE html>
<html>
  <head>
    <title>Give-A-Fig</title>
    <center>
      <a href="/"><img src="/assets/giveafig_logo.png" height="150" width="175" class="logo"></a>
    </center>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= analytics_init if Rails.env.production? %>

    <meta name="description" content="Give-A-Fig">
    <meta name="keywords" content="Don't waste your food">
    <meta name="author" content="Made at the Flatiron School">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body id="<%= params[:controller] %>" class= "page <%= params[:action] %>">

    <!-- Navigation bar -->
    <%= render :partial => "layouts/header" %>

    <!-- Flash notices -->
    <div class="container">
      <% if flash[:notice] -%>
        <p class='notice'><%= flash[:notice] %></p>
      <% elsif flash[:notice] -%>
        <p class='error'><%= flash[:error] %></p>
      <% elsif flash[:alert] -%>
        <p class='alert'><%= flash[:alert] %></p>
      <% else %>
      <% end -%>
    </div>

    <!-- Main page -->

    <%= yield %>

    <!-- Footer -->

  </body>
</html>
